.button {
  background-color: #f74503;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 10px 2px #fda585;
  color: white;
  font-family: Niconne;
  font-size: 25px;
}

.button:hover {
  cursor: pointer;
}
