.card {
  width: 50%;
  height: 20rem;
  display: inline-block;
  margin-top: 50px;
  border-radius: 10px;
  background-color: coral;
  padding: 40px 40px;
  box-shadow: 1px 1px 10px 5px #ce9783;
  font-family: Niconne;
  .header {
    font-size: 50px;
    color: white;
  }
  .content {
    font-size: 25px;
    padding: 20px;
    color: white;
  }
}
